@use "./partials/global" as *;
@use "./partials/variables" as *;

/* HERO SECTION */

.hero {
  background-color: $color-secondary;
  padding: 0 0 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 40px;
  }
}

.hero-article {
  width: 30vw;
  display: inline-block;
  margin-left: 6rem;
  margin-right: 16rem;
  vertical-align: 180px;
}

.hero-image {
  display: inline-block;
  padding-left: 4rem;
}

// "Shop now" button in Hero element

.button {
  width: 180px;
  background: $color-primary;
  color: $font-color-secondary;
  font-size: 2.1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border: 0;
  outline: 0;
  padding: 10px 20px;
  position: relative;

  &--hero {
    display: inline-block;
  }

  &--products {
    display: block;
    margin: 20px auto;
  }

  &--border {
    display: inline-block;
    border: 2px solid $font-color-primary;
    width: 180px;
    height: 50px;
    position: absolute;
    top: -5px;
    left: -5px;
    transition: 0.1s;

    &:active {
      top: 0;
      left: 0;
    }
  }
}

/* PRODUCTS SECTION */

.products {
  width: 100%;
  background-color: $color-neutral;
  padding: 40px 0;

  &__heading {
    padding: 20px;
    margin: 20px 20px 0;
    text-align: center;
  }

  &__item-container {
    display: flex;
    justify-content: space-evenly;
  }

  &__item {
    display: inline-block;
    background-color: $font-color-secondary;
    width: 330px;
    height: 440px;
    border-radius: 10px;
    box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
    margin: 40px 20px;

    &--margin {
      margin-right: 10rem;
    }
  }

  &__details {
    background-color: $color-secondary;
    display: flex;
    flex-flow: column wrap;
    height: 33%;
  }

  &__image {
    height: 280px;
    margin: 20px 80px 0;

    &--cold-brew {
      margin-left: 100px;
    }
  }

  &__title,
  &__text,
  &__price {
    text-align: left;
    margin: 40px 20px;
  }

  &__title {
    margin-bottom: 0;
  }

  &__text {
    color: $font-color-alternate;
    margin: 0 20px;
  }

  &__price {
    color: $font-color-highlight;
    font-size: 3.3rem;
    font-weight: 700;
    margin: 50px 0;
  }
}

/* DISCOUNTS SECTION */

.discount {
  width: 100%;
  height: 100vh;
  padding: 4rem 0;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  /* Description section wt button */

  &__description {
    width: 40vw;
    height: 44vh;
    padding: 40px;
    margin: 40px;
    margin-left: 68px;
    display: flex;
    flex-flow: row wrap;
  }

  &__heading {
    font-size: 5rem;
  }

  &__logo-container {
    width: 30vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }

  &__logo {
    width: 50px;
  }
}

/* DISCOUNT - TILTED CAN SECTION */

.discount__card {
  background: url(../assets/images/coldbrewbackground.png);
  background-position: center;
  background-size: cover;
  width: 35vw;
  height: 44vh;
  margin: 40px;
  margin-right: 60px;
  position: relative;

  &-border {
    display: inline-block;
    border: 5px solid $color-primary;
    width: inherit;
    height: inherit;
    position: absolute;
    top: -15px;
    left: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-image {
    height: 280px;

    &:hover {
      animation: rotate-can 2s linear infinite normal;
    }
  }
}

/* DISCOUNT CODE BANNER PORTION */

.discount__promo {
  display: inline-block;
  width: 100%;
  height: 34vh;
  margin: 40px;
  margin-right: 0;

  &-container {
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2.5s;
  }
}

.discount {
  &__text {
    width: 90%;
    background: $font-color-primary;
    color: $font-color-secondary;
    font-size: 4.5rem;
    padding: 20px;
    animation: color-pop 2.5s linear infinite alternate;

    &--normal {
      font-weight: 400;
    }

    &--bold {
      font-weight: 700;
    }
  }

  &__description-text {
    font-weight: 400;
    font-size: 3rem;
  }
}

/* FOOTER SECTION */

.footer {
  background-color: $color-secondary;
  line-height: 1.5;
  padding: 20px 0px;
  padding-top: 0;
  display: flex;
  justify-content: center;

  &-background {
    display: inline-block;
    position: relative;

    &__image {
      width: 120px;
      opacity: 25%;
      position: absolute;

      &--left {
        top: 20px;
        left: -190px;
      }

      &--right {
        top: 88px;
        left: 35px;
      }
    }
  }
}

.address,
.working-hours,
.social {
  display: inline-block;
  margin: 40px 60px;
  padding: 20px;

  &__title {
    margin-bottom: 10px;
  }
}

.working-hours {
  &__list {
    list-style: none;
    padding: 0;
  }

  &__text {
    font-size: 1.8rem;

    &--normal {
      font-weight: 400;
    }

    &--bold {
      font-weight: 700;
    }
  }
}

.social {
  &__icon {
    width: 50px;
  }
}
