// variables

$color-primary: #5bacc3;
$color-secondary: #fff0ed;
$color-neutral: #f7f7f7;
$font-color-primary: #393939;
$font-color-secondary: #fff;
$font-color-highlight: #5bacc3;
$font-color-alternate: #909090;
